* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: aliceblue;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 100px;
}


.generator__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

i {
  font-size: 20px;
}

.result__btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 4px;
  transition: all 300ms ease;
  margin: 0;
}

.result__btn:hover {
  color: rgb(66, 66, 66);
}

.input__wrapper {
  width: calc(fit-content + 50px);
  padding-bottom: 8px;
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.input__wrapper > label {
    margin-right: 20px;
}

#numberInput {
  width: 40px;
  padding: 4px;
  outline: none;
}

.result__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.checkbox {
  width: 20px;
  height: 20px;
}

.buttons__wrapper {
    display: flex;
    align-items: center;
}

button {
    margin: 10px;
}

.generate {
  font-size: 20px;
  background-color: transparent;
  padding: 4px;
  border: 2px solid black;
  border-radius: 3px;
  cursor: pointer;
}

#result-wrapper {
  border: 2px solid;
  display: flex;
  align-items: center;
  width: 500px;
  height: 100px;
  padding: 20px 30px;
  justify-content: flex-start;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 5px;
}

#result-heading {
  font-size: 20px;
  margin-right: 10px;
}

.result-content {
  display: flex;
  align-items: center;
}

#result-para {
  word-break: break-all;
  max-width: 80%;
}


